.nav-panel .panel-heading img {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.sidebarImage img {
    height: 15em;
    width: 15em;
    border-radius: 50%;
    margin: 1em 0;
    padding: 0;
}

.btn.githubEditButton {
    margin-top: 20px;
    margin-bottom: 10px;
}

a.btn::after,
a.icon-link::after {
    content: none;
}
